
body {
    font-family: sans-serif;
    background-image: url(/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.content {
    border: 3px solid grey;
    width: 1024px;
    margin: auto;
    background-color: rgb(255, 230, 252);
    border-radius: 25px;
}

.flex-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noti {
    position: absolute;
    display: grid;
    background-color: rgb(0, 224, 19);
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    right: 0;
    bottom: 0;
    place-items: center;
    color: white;
}

.avatar {
    background-color: rgb(179, 0, 170);
    overflow: hidden;
    width: 128px;
    height: 128px;
    border-radius: 9999px;
}

.flex-item-1 {
    position: relative;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    background-color: rgb(86, 255, 142);
    width: 90%;
    height: 90%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.8;
}

.gallery-item:hover{
    background-color: rgb(86, 255, 142);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 1.0;
}

.on-hover {
    text-decoration: none;
    color:black;
}

.on-hover:hover {
    text-decoration: underline;
    color:blue;
}